# User-Specific Giles
*.suo
*.user
*.sln.docstates

# Dependencies

# Not sure about this yet. Want to ensure that everyone can build out of the box though.
#./packages

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
